<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO: make these dynamic -->
    <title>{{ title }}</title>
    <meta name="{{ description }}">
    <!-- TODO: add link tags, other meta tags, open graph info, etc. -->
  </head>
  <body>
  {% block header %}
    <header>
      <p>This is the header.</p>
    </header>
  {% endblock %}
  <main>
    {% block content %}
      {{ content | safe }}
    {% endblock %}</main>
  {% block footer %}
    <footer>
      <p>This is the footer.</p>
    </footer>
  {% endblock %}
</body>
</html>